@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.login-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;      /* centro vertical */
  justify-content: center;  /* centro horizontal */
  padding: 16px;            /* evita colar nas bordas no celular */
}

.container {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    color:#fff;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2); 
    backdrop-filter: blur(50px);  
}

.container h1 {
    font-size: 36px;
    text-align: center;
    color: #ffffff;

}   

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;  

}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding:  20px 45px 20px 20px;
}

/*color do placeholder*/
.input-box input::placeholder {
    color: #d6cccc;
}

/*imagens dentro do input*/
.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    color: #9f845f;
}

.login {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 40px;
    background: #9f845f;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 20px;
}

.login:hover {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: 0.10s;
}

.link-empresa {
  cursor: pointer;
  color: #fff;
  text-decoration: underline;
  text-align: center;
  font-size: 12px;
  margin-left: 12px;
}

.link-empresa:hover {
  opacity: 0.8;
}
